section.works
  .container
    .section_title How Dreamshare works?
    .box_works
      .works_card
        .card_step Step 1
        .card_title Sed leo enim, condimentum
        .card_subtitle
          | Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec
          | rhoncus a leo sit amet facilisis.
      .works_card_second
        .card_step Step 2
        .card_title Morbi velit risus
        .card_subtitle
          | Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet
          | porttitor est.
      .works_card_three
        .card_step Step 3
        .card_title Sed leo enim, condimentum
        .card_subtitle
          | Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec
          | rhoncus a leo sit amet facilisis.
section.partner
  .container
    .section_title Meet a partner for your best holiday
    .box_partner
      .card_partner
        .card_partner-photo
          img.foto-partner(src='@img/partner/foto1.png', alt='#')
          .card_partner-icon.bg_music
            img.icon-partner(src='@img/partner_icon/music.png', alt='#')
        .card_partner-name
          p Bradley Hunter
        .card-partner-info
          p Based in Chicago. I love playing tennis and loud music.
      .card_partner
        .card_partner-photo
          img.foto-partner(src='@img/partner/foto2.png', alt='#')
          .card_partner-icon.bg_brush
            img.icon-partner(src='@img/partner_icon/brush.png', alt='#')
        .card_partner-name
          p Marie Bennett
        .card-partner-info
          p Currently living in Colorado. Lover of art, languages and travelling.
      .card_partner
        .card_partner-photo
          img.foto-partner(src='@img/partner/foto3.png', alt='#')
          .card_partner-icon.bg_camera
            img.icon-partner(src='@img/partner_icon/camera.png', alt='#')
        .card_partner-name
          p Diana Wells 
        .card-partner-info
          p
            | Living in Athens, Greece. I love black and white classics, chillout music and green tea.
      .card_partner
        .card_partner-photo
          img.foto-partner(src='@img/partner/foto4.png', alt='#')
          .card_partner-icon.bg_plane
            img.icon-partner(src='@img/partner_icon/plane.png', alt='#')
        .card_partner-name
          p Christopher Pierce
        .card-partner-info
          p Star Wars fanatic. I have a persistent enthusiasm to create new things.
      button.button_partner(type='button') See other partners
section.collage
  .container
    .section_title Discover holiday activity ideas
    .box_collage
      .picture_collage
        img.img_collage(src='@img/collage/foto1.png', alt='#')
        p.text_collage Sports and Activis
      .picture_collage
        img.img_collage(src='@img/collage/foto2.png', alt='#')
        p.text_collage Wellness and Health
      .picture_collage
        img.img_collage(src='@img/collage/foto3.png', alt='#')
        p.text_collage Extreme Sports and Expeditions
      .picture_collage
        img.img_collage(src='@img/collage/foto4.png', alt='#')
        p.text_collage Games
      .picture_collage
        img.big-img_collage(src='@img/collage/foto5.png', alt='#')
        p.text_collage Culture and Education
      .picture_collage
        img.big-img_collage(src='@img/collage/foto6.png', alt='#')
        p.text_collage Enjomet and Relaxation
      .picture_collage
        img.img_collage(src='@img/collage/foto7.png', alt='#')
        p.text_collage Trevelling
section.search
  .container
    .section_title Crate your holiday activity
    .search_subtitle Hi! What are your holiday interests?
    .search_box
      input.input_search(type='text', placeholder='Enter your insterests')
      button.search_button Search partners
