footer.footer
  .container
    .box_footer
      .footer_logo
        p DREAMSHARE
      ul.footer_list
        li.head_list
          p Company
        li.item_list About
        li.item_list Contact
        li.item_list Press
        li.item_list Blog
        li.item_list Terms and Privacy
        li.item_list Help
      .footer_section
        p Partners
      div
        p.footer_partners Designed by
        img(src='@img/footer/img-footer.png')