header
  .container
    .header_content
      .header_logo
        p.logo Dreamshare
      .header_buttons
        button.btn-header Log in
        button.btn-header Sign up
    .box_header
      .header_title
        p SHARE YOUR HOLIDAY DREAM
      .header_subtitle
        p And find the perfect partner to fullfill it
      button.box_header_button Find your holiday partner