html 
    head 
        link(rel="stylesheet", href="css/style.min.css")
        title homework
    body 
        include html/header
        
        include html/content

        include html/footer
        script(src="js/app.min.js")  